[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"

[dev-packages]
pytest = "*"
pycodestyle = "*"
pylint = "*"
pytest-cov = "*"
response = "*"
invoke = "*"
responses = "*"

[requires]
python_version = "3.9"
